@page "/"
@using infrastructure.ItemTrackerApi
@using presentation.Components.Search
@inject ItemTrackerApiService ItemTrackerApiService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SearchComponent></SearchComponent>

@code
{
    protected override void OnInitialized()
    {
        
        base.OnInitialized();
    }

}
