@page "/list/{ListUrl}"
@inherits ListRazor

<ErrorComponent @ref="ErrorComponentRef">
    @if (ListResponse is null)
    {
        <h1>loading...</h1>
    }
    else
    {
        <h1>@ListResponse.Name</h1>
        <h2>@ListResponse.Description</h2>
        <h3>@ListResponse.Public</h3>
    }
</ErrorComponent>