@page "/list/{ListUrl}"
@using application.Helper
@inherits ListRazor

<ErrorComponent @ref="ErrorComponentRef">
    @if (ListResponse is null)
    {
        <h1>loading...</h1>
    }
    else
    {
        <ListDisplay List="ListResponse"/>
        <div class="input-group">
            <div class="col-10">
                <SearchComponent OnItemSelected="BuyItem"></SearchComponent>
            </div>
            <button class="btn btn-info form-control">Add entry</button>
        </div>

        <div class="container">
            @foreach (var item in ListResponse.Items)
            {
                <div>
                    <img src="@item.ItemImage" alt="" style="height: 50px"/>
                    <span>@item.ItemName</span>
                    <span>@item.PricePerOne x @CurrencyHelper.FormatCurrency(ListResponse.Currency, item.PricePerOne)</span>
                </div>
            }
        </div>
    }
</ErrorComponent>