@namespace presentation.Components.Custom
@using Microsoft.AspNetCore.Authorization
@inherits ItemSearchComponentRazor

@attribute [Authorize]

<style>
    .searchResults {
        z-index: 1100;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-color: darkgrey #212529;
        max-height: 20rem;
        height: 20rem;
        max-width: 30rem;
        width: 30rem;
    }
</style>

<div class="w-100">
    <div class="row w-100 m-0 p-0 mb-2">
        <InputText
            class="form-control text-center"
            disabled="@LockInput"
            @ref="InputRef"
            ValueExpression="() => HideSearchResponsesClass"
            placeholder="Type to search item..."
            @oninput="OnInput"
            @onfocusin="ShowSearchResponses"
            @onfocusout="HideSearchResponses"/>
    </div>

    <div class="position-fixed border border-2 border-light searchResults @HideSearchResponsesClass">
        @foreach (var searchResult in ItemSearchResponses)
        {
            <div class="row">
                <button @onclick="() => OnSelect(searchResult)">
                    <img style="width: 70px" src="@searchResult.Image" alt=""/>
                    @searchResult.Name
                </button>
            </div>
        }
    </div>
</div>