@using application.Helper
@using shared.Models.ListResponse
@using BlazorBootstrap
@inherits ListDisplayRazor

<div class="row align-items-center h-100 border-2 border mt-2 ms-0 me-0 p-0">
    <button class="col-2 btn h-100" @onclick="NavigateToList">
        <div>
            <span class="text-decoration-underline">@List.Name</span>
            <br/>
            <span class="small">@List.Description</span>
        </div>
    </button>
    <span class="col-1">@ListResponseHelper.GetCurrentValue(List)</span>
    
    <div class="col-8 h-100">
        <LineChart @ref="LineChart" HeightUnit="Unit.Percentage" Height="100" WidthUnit="Unit.Percentage" Width="100"/>
    </div>
    <div class="col-1 text-center">
        <button class="btn btn-close" @onclick="() => DeleteList(List.Url)"></button>
    </div>
</div>