<div>
    <div class="modal @ModalClass" id="modal" tabindex="-1" style="display: @ModalDisplay">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">@Title</h1>
                    <button type="button" class="btn-close" @onclick="Close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @ChildContent
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="Close">Close</button>
                    <button type="button" class="btn btn-primary" @onclick="OkButtonAction">@OkButtonString</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public string Title { get; set; } = "Title";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string OkButtonString { get; set; } = "Ok";

    [Parameter]
    public Func<Task> OkButtonAction { get; set; }

    protected string ModalDisplay = "none;";
    protected string ModalClass = "";

    public Modal()
    {
        OkButtonAction = () =>
        {
            Close();
            return Task.CompletedTask;
        };
    }

    public void Open()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        StateHasChanged();
    }
}