@namespace presentation.Components.Custom
@using Microsoft.AspNetCore.Authorization
@inherits SearchComponentRazor

@attribute [Authorize]

<style>
    .test {
        z-index: 1100;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-color: darkgrey #212529;
        max-height: 20rem;
        height: 20rem;
        max-width: 30rem;
        width: 30rem;
    }
</style>

<div class="w-100">
    <input class="form-control mb-2" placeholder="Type to search item..." @bind="CurrentSearchBoxContent" @oninput="OnInput" @onfocusin="ShowSearchResponses" @onfocusout="@HideSearchResponses">
    <div @ref="SearchResponsesDivRef" class="position-fixed border border-2 border-light test @HideSearchResponsesClass">
        @foreach (var searchResult in ItemSearchResponses)
        {
            <div class="row">
                <button @onclick="() => OnSelect(searchResult)">
                    <img style="width: 70px" src="@searchResult.Image" alt=""/>
                    @searchResult.Name
                </button>
            </div>
        }
    </div>
</div>